[submodule "external/blis"]
	path = external/blis
	url = https://github.com/flame/blis.git
[submodule "external/OpenBLAS"]
	path = external/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "external/metis"]
	path = external/metis
	url = git://github.com/poulson/metis.git
[submodule "external/KISS-FFT"]
	path = external/KISS-FFT
	url = git://github.com/poulson/KISS-FFT.git
