Source: elemental
Maintainer: "Jack Poulson" <jack.poulson@gmail.com>
Uploaders: "Ryan Lewis" <me@ryanlewis.net>
Section: math
Priority: extra
Build-Depends: debhelper (>= 9), cmake, libgomp1, libopenblas-dev, liblapack-dev, libmetis-dev, libmpc-dev, libmpfr-dev, libqd-dev
Standards-Version: 3.9.7
Homepage: http://libelemental.org
Vcs-Browser: https://github.com/elemental/Elemental/tree/master/debian

Package: elemental-all
Architecture: any
Depends: elemental-mpich, elemental-openmpi, elemental-python2, elemental-dev
Description: full support for the distributed math library Elemental
 Installs the linear algebra and optimization library Elemental with two different MPI implementations and Python support

Package: elemental-mpich
Architecture: any
Depends: libmpich-dev
Description: the distributed math library Elemental built with MPICH
 A build of the distributed linear algebra and optimization library Elemental
 using the MPICH MPI implementation

Package: elemental-openmpi
Architecture: any
Build-Depends: libopenmpi-dev 
Description: the distributed math library Elemental built with OpenMPI
 A build of the distributed linear algebra and optimization library Elemental
 using the OpenMPI MPI implementation

Package: elemental-python2
Architecture: any
Depends: python-numpy
Description: python support for the distributed math library Elemental
 Python support for the distributed math library Elemental

Package: elemental-dev
Architecture: any
Description: extras for developing with the math library Elemental
 Installs all extra files needed for developing with the distributed math
 library Elemental
